<h1 class="title-margin">Hey! 👋</h1>
<h1 class="title-margin">I'm Tomáš Kubala</h1>
<h2 class="section-break">I build apps and solutions for companies to grow their business</h2>
<p class="section-break">I build modern web apps with Ruby and JavaScript by using the latest approaches and techniques.
  I’m also co-founder of software agency <%= link_to "Endpoint", "https://endpoint.sk" %>,
  co-author of the web app <%= link_to "Služobka", "https://sluzobka.sk" %> and folklore music player and enthusiast.
</p>

<h3>Current jobs</h3>
<ul>
  <li><%= link_to "Endpoint", "https://endpoint.sk" %></li>
  <li><%= link_to "ShopVOX", "https://shopvox.com" %></li>
</ul>
<h3>Previous jobs</h3>
<ul>
  <li><%= link_to "POPP", "https://www.popp-international.com" %></li>
  <li><%= link_to "AUTOCONT", "https://www.autocont.sk" %></li>
</ul>
<h3>Contact me and let's work together</h3>
<%= link_to "Mail", "mailto:mail@tomaskubala.sk" %>,
<%= link_to "Twitter", "https://twitter.com/tomas__kubala" %>,
<%= link_to "LinkedIn", "https://www.linkedin.com/in/tomáš-kubala-423848131/" %>,
<%= link_to "GitHub", "https://github.com/tomaskubala" %>

<footer>

</footer>